* {
    margin: 0;
    padding: 0;
}
/* Header Start */
#solid {
    margin: auto;
    width: 80%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#headings {
    padding: .5em 0;
}

#headings h1 {
    text-align: center;
}

#headings h2 {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #headings {
        padding: .5em 0;
    }

    #headings h2 {
        text-align: center;
        font-size: 12px;
    }

}
/* Header End */


/* Navbar start */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline gray;
  text-decoration-style: double;
}

.topnav a.active {
  background-color: #4C7BAD;
  color: white;
}
/* Navbar End */


body {
    height: 100%;
    margin: 1.25em;
    border: 4px solid #333;
}


/* Start of main fuel load table */
.textarea {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(7, 1fr);
    grid-gap: .25em .5em;
    grid-template-areas:
        "fb fb fb fb fb fb fb"
        "oner onem twom ctr threem fourm fourr"
        "aft aft aft aft aft aft aft"
        "up up up up up up up";
    padding: .5em;
    height: 40vh;
    background-image: url('https://mildenhallmac.com/images/bg.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    .textarea {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        gap: .25em .5em;
        grid-template-areas:
            ". fb ."
            "oner ctr threem"
            "onem aft fourm"
            "twom up fourr";
        padding: .5em;
        height: 30vh;
        background-image: url('https://mildenhallmac.com/images/bg.jpg');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.cell {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
}

.cell h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    border: 2px solid black;
    font-size: 18px;
}


@media only screen and (max-width: 800px) {
    .cell h3 {
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ADADAA;
        width: 100%;
        border: 2px solid black;
        font-size: 14px;
    }
}

.cell input {
    flex-basis: 70%;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

#fwd {
  grid-area: fb;
  width: 13.78%;
  justify-self: center;
}

#aftbody {
  grid-area: aft;
  width: 13.78%;
  justify-self: center;
}

#upperdeck {
  grid-area: up;
  width: 13.78%;
  justify-self: center;
}

@media only screen and (max-width: 800px) {
    #fwd {
      grid-area: fb;
      width: 100%;
      justify-self: center;
    }

    #aftbody {
      grid-area: aft;
      width: 100%;
      justify-self: center;
    }

    #upperdeck {
      grid-area: up;
      width: 100%;
      justify-self: center;
    }
}

#onereserve {
  grid-area: oner;
}

#onemain {
  grid-area: onem;
}

#twomain {
  grid-area: twom;
}

#centerwing {
  grid-area: ctr;
}

#threemain {
  grid-area: threem;
}

#fourmain {
  grid-area: fourm;
}

#fourreserve {
  grid-area: fourr;
}
/* End of main fuel load table */



/* Start of basic weight and calculation flexbox */
.resultbox {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    background-image: url('https://mildenhallmac.com/images/bg.jpg');
    background-position: 0 -42vh;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    margin: -2px;

}

.resultbox .col {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    height: 20vh;
    align-items: center;
    padding: 5px;

}

.resultbox .col .leftrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 33%;
    align-items: center;
    width: 100%;
}

.resultbox .col .leftrow h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
}

.resultbox .col .leftrow input{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
    border-left: 0px;
}

.resultbox .col .middlerow {
    text-align: center;

}

.resultbox .col .middlerow h1{
    padding: 2px;
    font-size: 20px;

}

.resultbox .col .middlerow input{
    width: 25%;

}

.resultbox .col .middlerow p{
    padding: 2px;

}


.resultbox .col .rightrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 20%;
    align-items: center;
    width: 100%;
}

.resultbox .col .rightrow h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
}

.resultbox .col .rightrow a{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
    border-left: 0px;
}

.resultbox .col .cg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 20%;
    align-items: center;
    width: 100%;
}

.resultbox .col .cg h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
}

.resultbox .col .cg a{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
    border-left: 0px;
}

/* End of basic weight and calculation flexbox */

/* Basic Weight Mobile */
@media only screen and (max-width: 800px) {

.resultbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url('https://mildenhallmac.com/images/bg.png');
    background-position: 0 0vh;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    margin: -2px;

}



.resultbox .col {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    height: 25vh;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 12px;

}

.resultbox .col .leftrow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 15%;
    padding: 7% 0 38% 0;
    align-items: center;
    width: 100%;
}

.resultbox .col .leftrow h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    font-size: 12px;
    border: 2px solid black;
}

.resultbox .col .leftrow input{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 14px;
    border: 2px solid black;
    border-top: 0px;
}

.resultbox .col .middlerow {
    text-align: center;

}

.resultbox .col .middlerow h1{
    padding: 2px;
    font-size: 20px;

}

.resultbox .col .middlerow input{
    font-size: 11px;
    width: 45%;
    text-align: center;

}


.resultbox .col .rightrow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 20%;
    align-items: center;
    width: 100%;
}

.resultbox .col .rightrow h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    font-size: 12px;
    border: 2px solid black;
}

.resultbox .col .rightrow a{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 14px;
    border: 2px solid black;
    border-top: 0px;
}

.resultbox .col .cg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 20%;
    align-items: center;
    width: 100%;
}

.resultbox .col .cg h3 {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADADAA;
    width: 100%;
    font-size: 12px;
    border: 2px solid black;
}

.resultbox .col .cg a{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 14px;
    border: 2px solid black;
    border-top: 0px;
}


}



/* Footer */
.footer {
    color: #ddd;
    background-color: #333;
    text-align: center;
    font-size: 1.5vw;
    position: sticky;
    bottom: 0;
    border-top: 1px solid white;
}

@media only screen and (max-width: 800px) {
    .footer {
        color: #ddd;
        background-color: #333;
        text-align: center;
        font-size: 4vw;
        position: sticky;
        bottom: 0;
        border-top: 1px solid white;
    }
}


/* Start of Privacy Page */
.privacy {
    padding: 1.5em;
    background-image: url('https://mildenhallmac.com/images/bg.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

}

.privacy h1{
    color: white;

}

.privacy h2{
    color: white;

}

.privacy p {
    color: white;

}

.privacy li {
    color: white;

}
/* End of Privacy Page */


/* Start of Support Page */
.support {
    padding: 1.5em;
    background-image: url('https://mildenhallmac.com/images/bg.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

}

.support .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.support .column {
    flex: 33.33%;
}

.support h2 {
    font-size: 20px;
}


.support input {
    max-width: 100%;
}

.support textarea {
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
.support {
    padding: 1.5em;
    background-image: url('https://mildenhallmac.com/images/bg.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.support .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border: 2px solid white;

}

.support .column {
    flex: 33.33%;
    justify-content: center;
    padding: 5px;
    width: 100%;

}


.support h2 {
    font-size: 16px;
}


.support input {
    max-width: 50%;
}

.support textarea {
    max-width: 50%;
}


}


/* End of Support Page */